<!-- main container -->
<div class="content">

    <div class="container-fluid">
        <div class="row-fluid section">
            <div id="pad-wrapper">
                <div class="row-fluid calendar-wrapper">
                    <div class="span12">

                        <!-- div that fullcalendar plugin uses  -->
                        <div id='calendar'></div>

                        <!-- edit image pop up -->
                        <div class="new-event popup">
                            <div class="pointer">
                                <div class="arrow"></div>
                                <div class="arrow_border"></div>
                            </div>
                            <i class="close-pop table-delete"></i>
                            <h5>New event popup example</h5>
                            <div class="field">
                                Date:
                                <span class="date">Thu, 18 April</span>
                            </div>
                            <div class="field">
                                Event:
                                <input type="text" class="event-input" />
                            </div>
                            <input type="submit" value="Create" class="btn-glow primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- UI Elements section -->
            <div class="row-fluid section">

                <div class="span6">
                    <h4>消息</h4>
                    <div class="">
                        <ol>
                            <li>测试消息</li>
                            <li>测试消息</li>
                        </ol>
                    </div>
                </div>
                <div class="span6">
                    <h4>公告</h4>
                    <div class="">

                    </div>
                </div>
            </div>
            <!-- end UI elements section -->


        </div>
    </div>
</div>

