<div class="content">

    <div class="container-fluid">
        <div id="">
            <div class="row-fluid ">


                <!-- table sample -->
                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="table-document section">
                    <div class="row-fluid head">
                        <div class="span12">
                            <ul class="breadcrumb">
                                <li><i class="icon-home"></i> <a href="#"> 文档库</a> <span class="divider">/</span></li>
                                <li><a href="#">我的文档</a> <span class="divider">/</span></li>
                                <li class="active">日报</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row-fluid filter-block">
                        <div class="">
                            <a class="btn-flat"><i class="icon-upload-alt"></i> 上传文档</a>
                            <a class="btn-flat white"><i class="icon-plus"></i> 新建文件夹</a>
                            <div class="pull-right">
                                <input type="text" class="search" />
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="span3">
                                    <input type="checkbox" />
                                    文档名
                                </th>
                                <th class="span3">
                                    <span class="line"></span>摘要
                                </th>
                                <th class="span3">
                                    <span class="line"></span>大小
                                </th>
                                <th class="span3">
                                    <span class="line"></span>修改日期
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- row -->
                            <tr class="first">
                                <td>
                                    <input type="checkbox" />
                                    <i class="icon-file-alt"></i> <a href="#"> There are many variations </a>
                                </td>
                                <td class="description">
                                    if you are going to use a passage of Lorem Ipsum.
                                </td>
                                <td class="size">
                                    20kb
                                </td>
                                <td>
                                    2015-04-01 16:30
                                    <!--<ul class="actions">-->
                                        <!--<li><i class="table-edit"></i></li>-->
                                        <!--<li><i class="table-settings"></i></li>-->
                                        <!--<li class="last"><i class="table-delete"></i></li>-->
                                    <!--</ul>-->
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    <input type="checkbox" />
                                    <i class="icon-folder-close-alt"></i> <a href="#"> There are many variations </a>
                                </td>
                                <td class="description">
                                    if you are going to use a passage of Lorem Ipsum.
                                </td>
                                <td class="size">
                                    20kb
                                </td>
                                <td>
                                    2015-04-01 16:30
                                    <!--<ul class="actions">-->
                                    <!--<li><i class="table-edit"></i></li>-->
                                    <!--<li><i class="table-settings"></i></li>-->
                                    <!--<li class="last"><i class="table-delete"></i></li>-->
                                    <!--</ul>-->
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    <input type="checkbox" />
                                    <div class="img">
                                        <img src="img/table-img.png" />
                                    </div>
                                    <a href="#">There are many variations </a>
                                </td>
                                <td class="description">
                                    if you are going to use a passage of Lorem Ipsum.
                                </td>
                                <td class="size">
                                    20kb
                                </td>
                                <td>
                                    2015-04-01 16:30
                                    <!--<ul class="actions">-->
                                    <!--<li><i class="table-edit"></i></li>-->
                                    <!--<li><i class="table-settings"></i></li>-->
                                    <!--<li class="last"><i class="table-delete"></i></li>-->
                                    <!--</ul>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <ul>
                            <li><a href="#">&#8249;</a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">&#8250;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end table sample -->
            </div>
        </div>
    </div>
</div>