<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li>
            <!--<div class="pointer">-->
                <!--<div class="arrow"></div>-->
                <!--<div class="arrow_border"></div>-->
            <!--</div>-->
            <a ui-sref="yf.view.main">
                <i class="icon-dashboard"></i>
                <span>工作台</span>
            </a>
        </li>
        <li>
            <a ui-sref="yf.view.test">
                <i class="icon-signal"></i>
                <span>Test</span>
            </a>
        </li>

    </ul>
</div>

<!-- end sidebar -->

<div ui-view></div>
