<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li>
            <!--<div class="pointer">-->
                <!--<div class="arrow"></div>-->
                <!--<div class="arrow_border"></div>-->
            <!--</div>-->
            <a ui-sref="yf.view.page.desktop">
                <i class="icon-desktop"></i>
                <span>工作台</span>
            </a>
        </li>

        <li>
            <a ui-sref="yf.view.page.test">
                <i class="icon-signal"></i>
                <span>流程</span>
            </a>
        </li>

        <li>
            <a ui-sref="yf.view.page.test">
                <i class="icon-signal"></i>
                <span>任务</span>
            </a>
        </li>

        <li>
            <a ui-sref="yf.view.page.test">
                <i class="icon-signal"></i>
                <span>文档</span>
            </a>
        </li>

    </ul>
</div>

<!-- end sidebar -->
