<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li>
            <!--<div class="pointer">-->
                <!--<div class="arrow"></div>-->
                <!--<div class="arrow_border"></div>-->
            <!--</div>-->
            <a ui-sref="yf.view.page.desktop">
                <i class="icon-desktop"></i>
                <span>工作台</span>
            </a>
        </li>

        <li>
            <a ui-sref="yf.view.page.workflow">
                <i class="icon-retweet"></i>
                <span>工作流</span>
            </a>
        </li>

        <li>
            <a ui-sref="yf.view.page.document">
                <i class="icon-folder-open"></i>
                <span>文档库</span>
            </a>
        </li>

        <li>
            <a ui-sref="yf.view.page.contact">
                <i class="icon-book"></i>
                <span>电话簿</span>
            </a>
        </li>

    </ul>
</div>

<!-- end sidebar -->
